<div class="uk-border-rounded uk-background-default uk-padding uk-box-shadow-small">
  
  <article class="uk-article">

      <h1 class="uk-article-title uk-margin-small-bottom">Cookie Policy</h1>
    
      <div class="uk-text-muted">
        <time datetime="2020-07-07T00:00:00+00:00">
            Updated July 7, 2020
        </time>
        <hr class="uk-margin-medium-bottom uk-margin-top">
      </div>
    

        <div class="uk-article-content">
            <p>This Cookie policy explains what cookies are and how we use them. You should read this policy so you can understand what type of cookies we use, the information we collect using cookies and how that information is used. For further information on how we use, store and keep your personal data secure, see our <a href="/privacy-policy/">Privacy Policy</a>.</p>

            <p>This Policy also tells you what your rights are in relation to the personal data you give to us. If you have any questions about this Cookie policy please contact Strapdata.</p>

            <p>If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from <a href="/">https://www.strapdata.com/</a>, with the understanding that we may be unable to provide you with some of your desired content and services.</p>

            <h3 id="what-is-a-cookie">What is a cookie?</h3>

            <p>Cookies are little text files which are stored on the browser or hard drive of your computer or mobile device when you visit a webpage or application. Cookies work to make your experience browsing our site as smooth as possible and they remember your preferences, so you don’t have to insert your details again and again.</p>

            <p>There are different types of cookies. Some cookies come directly from our website and others come from third parties which place cookies on our site.</p>
              
            <p>Cookies can be stored for varying lengths of time on your browser or device. Session cookies are deleted from your computer or device when you close your browser. Persistent cookies will remain stored on your computer or device until deleted or until they reach their expiry date.</p>
              
            <p>We have 4 varieties of cookies which operate on our website:.</p>

            <h4 id="essential-cookies">Strictly Necessary cookies</h4>

            <p>These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request of services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.</p>
            
            <h4 id="performance-cookies">Performance cookies</h4>

            <p>These cookies allow us to count visits and traffic sources, so we can measure and improve the performance of our site. They help us know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies, we will not know when you have visited our site.</p>
            
            <h4 id="functionality-cookies">Functionality cookies</h4>

            <p>Functionality cookies are used in collecting information about your device and any settings you may configure on the website you’re visiting (like language and time zone settings). With this information, websites can provide you with customized, enhanced or optimized content and services. These cookies may be set by the website you’re visiting (first-party) or by third-party service. We use functionality cookies for selected features on our site.</p>
            
            <h4 id="target-cookies">Targeting/advertising cookies</h4>

            <p>These cookies may be set through our site by our third party partners who may use them to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.</p>

            <h3 id="third-party-cookies-on-our-site">How do we use cookies ?</h3>

            <p>We employ third-party companies and individuals on our websites, analytics providers (Google Analytics) and content partners (HubSpot). We grant these third parties access to selected information to perform specific tasks on our behalf. They may also set third-party cookies in order to deliver the services they are providing. Third-party cookies can be used to track you on other websites that use the same third-party service. As we have no control over third-party cookies, they are not covered by Strapdata’s cookie policy.</p>

            <h4 id="our-third-party-privacy-promise">Our third-party privacy promise</h4>

            <p>We review the privacy policies of all our third-party providers before enlisting their services to ensure their practices align with ours. We will never knowingly include third-party services that compromise or violate the privacy of our users.</p>

            <h3 id="how-you-can-control-or-opt-out-of-cookies">How you can control or opt out of cookies</h3>

            <p>If you do not wish to accept any cookies from us, you can instruct your browser to refuse all cookies from our website. Most browsers are configured to accept cookies by default, but you can update these settings to either refuse cookies altogether, or to notify you when a website is trying to set or update a cookie.</p>

            <p>If you browse websites from multiple devices, you may need to update your settings on each individual device.</p>

            <p>Although some cookies can be blocked with little impact on your experience of a website, blocking all cookies may mean you are unable to access certain features and content across the sites you visit.</p>

            <p>If you wish to remove our HubSpot tracking cookie, you can achieve it by clicking on the following button:</p>
            <p>
              <!-- Start of HubSpot code snippet -->
              <button type="button" id="hs_remove_cookie_button"
                style="background-color: #425b76; border: 1px solid #425b76;
                       border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
                       font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
                       text-align: left; text-shadow: none;"
                onClick="(function removeCookies(){
                  var _hsp = window._hsp = window._hsp || [];
                  _hsp.push(['revokeCookieConsent']);
                  alert('HubSpot tracking cookies disabled.');
                })()"
              >
                Remove HubSpot Cookies
              </button>
              
              <!-- End of HubSpot code snippet -->
            </p>

            <p>If you wish to remove the Google Analytics cookie, click on the following button:</p>
            <p>
              <button type="button" id="hs_remove_ga_cookie_button"
                style="background-color: #425b76; border: 1px solid #425b76;
                       border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
                       font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
                       text-align: left; text-shadow: none;"
                onClick="(function removeCookies(){
                  window['ga-disable-UA-120256306-1'] = true;
                  alert('Google Analytics tracking cookies disabled.');
                })()"
              >
                Remove Google Analytics Cookies
              </button>
            </p>
        </div>

  </article>
</div>
