<div class="uk-border-rounded uk-background-default uk-padding uk-box-shadow-small">
  
  <article class="uk-article">

      <h1 class="uk-article-title uk-margin-small-bottom">Privacy Policy</h1>
    
      <div class="uk-text-muted">
        <time datetime="2020-07-07T00:00:00+00:00">
            Updated July 7, 2020
        </time>
        <hr class="uk-margin-medium-bottom uk-margin-top">
      </div>
    

        <div class="uk-article-content">
            <p>We know how important it is for you to understand how we use your data. This Privacy policy sets out how and why we collect, store, process and share your personal data we may collect from you across our website. We will always be transparent with you about what we do with your personal data.</p>
            
            <p>This Policy also tells you what your rights are in relation to the personal data you give to us. If you have any questions about this Privacy policy or your rights under it please contact:</p>
            <ul>
              <li><b>Address</b>: Euratechnologies, 2 rue de la Haye du Temple, 59160 LOMME, FRANCE</li>
              <li><b>Email</b>: contact at strapdata dot com</li>
            </ul>
            <p></p>

            <h3 id="what-data">1. What personal data do we collect?</h3>

            <p>The personal data we may collect from you directly can include your company name, country, name, email address and mobile/landline telephone number, title, job function and expertise, or indirectly your IP address when you browse or download any content on our web site.</p>

            <h3 id="when-data">2. When do we collect your personal data?</h3>

            <p>When you fill our contact form, request for product information by email or phone, or request for commercial information or technical support related to Elassandra.</p>
            <p>Our website also uses cookies; to find out more about the use of cookies and how you can manage them, please read our <a href="/cookies/">Cookie Policy</a></p>
    
            <h3 id="how-use-data">3. How do we use your personal data and what are our legal justifications for doing so?</h3>
            <p>We may use your personal data to keep in touch with you, to provide the requested information about our products and services and develop your relationship with Strapdata.</p>

            <h3 id="how-share-data">4. Who do we share your personal data with?</h3>
            <p>We will never sell any of your personal data to a third party. However, in order for us to provide our services to you, we may share your personal data with our trusted third party service providers. Whenever we share your personal data, we put safeguards in place which require these organisations to keep your data safe and to ensure that they do not use your personal data for their own marketing purposes.</p>
            
            <h3 id="security-data">5. Security of your personal data?</h3>
            <p>We take the security of your personal data very seriously. We have implemented various strategies, controls, policies and measures to keep your data secure and keep these measures under close review. We protect your data by using encryption techniques and we use other safeguards such as firewalls and password protection. This means that your data is protected and only accessible by co-workers who need it to carry out their job responsibilities.</p>

            <h3 id="retention-data">6. Retention of your personal data?</h3>
            <p>In broad terms, we will only retain your personal data for as long as is necessary for the purposes described in this Privacy policy. This means that the retention periods will vary according to the type of the data and the reason that we have the data in the first place.</p>
            <p>We have procedures in place regarding our retention periods which we keep under review taking into account our reasons for processing your personal data and the legal basis for doing so.</p>

            <h3 id="policy-limits">7. Limits of our policy</h3>
            <p>Our website and applications may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices.</p>

            <h3 id="policy-changes">8. Changes to this policy</h3>
            <p>At our discretion, we may change our privacy policy to reflect current acceptable practices. We will take reasonable steps to let users know about changes via our website. Your continued use of this site after any changes to this policy will be regarded as acceptance of our practices around privacy and personal information.</p>
            <p>If we make a significant change to this privacy policy, for example changing a lawful basis on which we process your personal information, we will ask you to re-consent to the amended privacy policy.</p>
            <p>You can also simply contact <b>contact</b> at <b>strapdata</b> dot <b>com</b> for general inquiries.</p>
        </div>

  </article>
</div>
