<div class="uk-cover-container">
  <a id="multimaster"></a>
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">

      <div class="uk-margin-medium-bottom">
        <h1 class="uk-heading-small">Le Neurofeedback EEG</h1>
      </div>

      <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-large uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <p align="center">
            Nous établissons votre cartographie cérébrale et  traitons vos pathologie de manière durable.
          </p>
        </div>
      </div>
  </div>
 </div>
</div>
