<div class="uk-cover-container">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">

      <h3 align="center" class="uk-heading-small">They use Elassandra</h3>

      <div uk-slider="center: true; autoplay: true">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                <li>
                  <div class="uk-card uk-card-small uk-card-default uk-card-hover card-icon">
                    <div class="uk-card-header">
                      <img src="/uploads/ceva.png"  height="100" width="130">
                    </div>
                    <div class="uk-card-body">
                      <p sytle="vertical-align: bottom; height: 300px;">"With multiple  Data Centers totaling more than 50 Elassandra nodes, thousands of CPUs, more than 10TB RAM, and several hundred TB of storage in a self-managed Kubernetes cluster and 1500+ Elasticsearch indexes, we get a powerful and flexible solution for many applications including Reporting, Business Intelligence, Operational Systems, and Machine Learning from a single Big Data Platform.”,
                      <b>Robert LIOTTA,  SVP IT ENTERPRISE ARCHITECT</b> at Ceva Logistics</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-small uk-card-default uk-card-hover card-icon">
                    <div class="uk-card-header">
                      <img src="/uploads/ineat4.png"  height="110" width="130">
                    </div>
                    <div class="uk-card-body">
                      <p sytle="vertical-align: bottom; height: 300px;" >
                        <br>"We collect and visualize our infrastructure logs with Beat, Logstash, Elassandra and Kibana running in docker containers. Because Elassandra has no Single Point Of Write, Logstash does not need to buffer events into memory when an Elassandra node is down, preventing us from losing events.",
                        <br><b>Emmanuel Peru, CTO at</b> INEAT-Group
                        <br>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-small uk-card-default uk-card-hover card-icon">
                    <div class="uk-card-header">
                      <img src="/uploads/elamp.png"  height="100" width="130">
                    </div>
                    <div class="uk-card-body">
                      <p sytle="vertical-align: middle;">
                        <br>&nbsp;<br>
                        "We started using Cassandra in 2015 and we switched to Elassandra very easily. It provides powerful Elasticsearch queries through the CQL driver allowing us to build our SAAS Skill Data service at a large scale.",
                        <br><b>Florian Bojda, CTO at</b> eLamp
                        &nbsp;<br>&nbsp;<br>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="uk-card uk-card-small uk-card-default uk-card-hover card-icon">
                    <div class="uk-card-header">
                      <img src="/uploads/ciel_et_terre.png"  height="150" width="200">
                    </div>
                    <div class="uk-card-body">
                      <p sytle="vertical-align: bottom; height: 300px;">
                        <br>&nbsp;<br>"We continuously collect energy production and various sensors metrics into Elassandra from our solar PV plants located in Japan. Realtime visualisation and Apache Spark processing helped us to improve the design of our product, the Hydrelio™ technology.",
                        <br><b>Alexis Gaveau, CEO at</b> Ciel & Terre.
                      </p>
                    </div>
                  </div>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>


  </div>
 </div>
</div>
