<div class="uk-cover-container" >
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">

      <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-large uk-grid-match uk-flex-center" data-uk-grid="">

        <div>
            <div class="uk-card uk-card-none card-icon">
                <div class="uk-card-media-top" style="color: #3470ff">

                  <img src="/uploads/outage3-animated-3.svg"  height="170" width="160">
                </div>


              <div class="uk-card-body">
                <h3 class="uk-card-title">Sophrologie</h3>
                <p>La <a href="/sophrologie">sophrologie</a> est un ensemble de techniques de respiration, de relaxation et de visualisation qui procurent un sentiment de bien-être physique et mental, et permet une meilleure gestion du stress.</p>
              </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-none card-icon">
                <div class="uk-card-media-top" style="color: #3470ff">
                    <img src="/uploads/simple-pipeline-animated.svg"  height="140" width="140">
                </div>


              <div class="uk-card-body">
                <h3 class="uk-card-title">Neuro-Fedback</h3>
                <p>Le <a href="/neurofeedback">neurofeedback</a> est un entrainement cérébral pour apprendre à s'auto-réguler et améliorer ses comportements.</p>
              </div>
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-none card-icon">
                <div class="uk-card-media-top" style="color: #3470ff">
                  <img src="/uploads/migration4-animated.svg"  height="170" width="160">
                </div>

              <div class="uk-card-body">
                <h3 class="uk-card-title">Hypnose</h3>
                <p>L'<a href="/hypnose">hypnose</a> modifie votre état de conscience pour travailler sur l'inconscient et les comportements.</p>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
