<div class="uk-cover-container">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">

      <div class="uk-child-width-1-2@s uk-child-width-1-1@m uk-grid-large uk-grid-match uk-flex-center" data-uk-grid="">

        <div>
            <div class="uk-card uk-card-none card-icon">
              <div class="uk-card-media-top" style="color: #3470ff">
                
              </div>

              <div class="uk-card-body">
                <h3 class="uk-heading-small">Simplified Data Pipeline</h3>
                <p>Cassandra data can be indexed in Elasticsearch without being duplicated, no need for a complex pipeline to populate your Elasticsearch.</p>
                <img src="/uploads/ElassandraArchitecture.jpg" >
              </div>
            </div>
        </div>
    </div>
  </div>
 </div>
</div>
