<div class="uk-cover-container" >
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">

      <div class="uk-margin-large">
        <h3 align="center" class="uk-heading-small uk-margin-bottom">Reconcile Dev, Ops, Security and Costs concerns</h3>
      </div>

      <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-large uk-grid-match uk-flex-center" data-uk-grid="">

        <div>
            <div class="uk-card uk-card-none card-icon">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Designed for developer productivity</h3>
                <p>No need to learn a new API or to setup a complex dev/test environment, you can use both the <a href="https://cassandra.apache.org/doc/latest/getting_started/drivers.html">Cassandra CQL drivers</a> and 
                  the <a href="https://www.elastic.co/guide/en/elasticsearch/client/index.html">Elasticsearch Clients</a> to develop your applications in your favorite language.
                   See the <a href="https://elassandra.readthedocs.io/en/latest/quickstart.html">Elassandra Quickstart</a>.
                </p>
              </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-none card-icon">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Be cost-effective without losing sleep</h3>
                <p>You can run Elassandra anywhere, across clouds or on-prem, on VMs or Kubernetes with our multi-cloud <a href="https://operator.elassandra.io/">Kubernetes Elassandra Operator</a>. You can scale up and upgrade your Elassandra clusters during buisness hours with no downtime.</p>
              </div>
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-none card-icon">
              <div class="uk-card-body">
                <h3 class="uk-card-title">Secured and reliable <br>for mission-critical workloads.</h3>
                <p>Get your data <b>GDPR-Compliant</b> with <a href="/enterprise" >Elassandra Enterprise</a> features: network encryption, role-based access control, audit and <b>true resiliency</b> on many datacenters.</p>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
