<div class="uk-cover-container uk-section-muted">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">
      <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <div class="uk-card uk-card-xlarge uk-card-none uk-grid-collapse uk-margin" data-uk-grid="">
            <div class="uk-flex-first@m uk-card-media-right uk-width-1-2@m">
              <img src="/uploads/enterprise-plug.png" alt="Elassandra training" width="300px" data-uk-img="" />
            </div>
            <div class="uk-flex uk-flex-middle uk-width-expand@m">
              <div class="uk-card-body uk-margin-left">
                <h1 align="left">Elasticsearch Index Join</h1>
                <p align="left">Elassandra Enterprise supports query time join accross Elasticsearch indices sharing the same Casandra partition key. This allows to efficiently join many Cassandra tables on the partition key without network overhead.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-cover-container">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">
      <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <div class="uk-card uk-card-xlarge uk-card-none uk-grid-collapse uk-margin" data-uk-grid="">
            <div class="uk-flex-last@m uk-card-media-left uk-width-1-2@m">
              <img src="/uploads/grafana-dashbord.png" alt="Elassandra training" width="300px" data-uk-img="" />
            </div>
            <div class="uk-flex uk-flex-middle uk-width-expand@m">
              <div class="uk-card-body uk-margin-left">
                  <h1 align="left">Elasticsearch JMX Managment & Monitoring</h1>
                  <p align="left">The JMX feature exposes Elasticsearch statistics over JMX, allowing to monitor both Cassandra and Elasticsearch indices within a single JMX monitoring tool.
                    The JMX monitoring is compatible with the Cassandra pluggable metric reporter and can periodically push JMX statistics to <b>InfluxDB</b> or <b>Prometheus</b>  and build dashboards with grafana.
                  </p><p align="left">Finally, JMX allows to gracefully disable/enable Elasticsearch search on a node before/after a maintenance operations to ensure all search requests are properly executed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-cover-container uk-section-muted">
  <div class="uk-section uk-section-xsmall">
    <div class="uk-container uk-position-relative uk-text-center">
      <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <div class="uk-card uk-card-xsmall uk-card-none uk-grid-collapse uk-margin" data-uk-grid="">
            <div class="uk-flex-first@m uk-card-media-left uk-width-1-2@m">
              <img src="/uploads/enterprise-tls.png" alt="Elassandra training" width="300px" data-uk-img="" />
            </div>
            <div class="uk-flex uk-flex-middle uk-width-expand@m">
              <div class="uk-card-body uk-margin-left">
                <h1 align="left">Elasticsearch SSL/TLS encryption</h1>
                  <p align="left">Protect your data with SSL/TLS network encryption for
                        Elasticsearch client-to-node and node-to-node connections. Based on the
                        <A href="https://cassandra.apache.org/doc/latest/operating/security.html" target="doc">Cassandra SSL certificates</A> and settings, it supports SSL client authentication and standard
                        JCE algorithms and protocols.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-cover-container">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">
      <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <div class="uk-card uk-card-xlarge uk-card-none uk-grid-collapse uk-margin" data-uk-grid="">
            <div class="uk-flex-last@m uk-card-media-right uk-width-1-2@m">
              <img src="/uploads/enterprise-shield.png" alt="Weel of improvement" width="300px" data-uk-img="" />
            </div>
            <div class="uk-flex uk-flex-middle uk-width-expand@m">
              <div class="uk-card-body uk-margin-left">
                <h1 align="left">Elasticsearch Authentication, Authorization & Audit</h1>
                <p align="left">Elassandra Enterprise provides Elasticsearch user authentication, role-based access control, and audit trail for Elasticsearch.
                          User authentication and authorization relies on the underlying Cassandra authenticator and
                          <A href="https://cassandra.apache.org/doc/latest/cql/security.html" target="doc">role-based authorizer</A>, thus providing unified security for both
                          Cassandra and Elasticsearch. Accounting can be done in a flat file on every nodes, or in a
                          Cassandra table that you can index in Elasticsearch to get a per user report.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-cover-container uk-section-muted">
  <div class="uk-section uk-section-small">
    <div class="uk-container uk-position-relative uk-text-center">
      <div class="uk-child-width-expand@m uk-grid-match uk-flex-center" data-uk-grid="">
        <div>
          <div class="uk-card uk-card-xsmall uk-card-none uk-grid-collapse uk-margin" data-uk-grid="">
            <div class="uk-flex-first@m uk-card-media-left uk-width-1-2@m">
              <img src="/uploads/enterprise-plug.png" alt="Weel of improvement" width="300px" data-uk-img="" />
            </div>
            <div class="uk-flex uk-flex-middle uk-width-expand@m">
              <div class="uk-card-body">
                <h1 align="left">LDAP Connector</h1>
                <p align="left">The Elassandra Enterprise edition provides a <b>Cassandra LDAP authenticator</b>, allowing to delegate user authenticate to your LDAP server for both Cassandra and Elasticsearch access.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
